<form>
    <h3>WeddingInvite</h3>

    <div data-fields="Name"></div>
    <div data-fields="Email"></div>
    <div data-fields="MobileNumber"></div>
    <div data-fields="Address"></div>
    <div data-fields="Attendance"></div>
    <div data-fields="SpecialRequirements"></div>
    <div data-fields="NameOfGuest"></div>

    <a id="UpdateWeddingInviteButton" href="#">Update</a>
    <a id="DeleteWeddingInviteButton" href="#">Delete</a>

    <!-- This div is where error messages from the REST service are put -->
    <div class="ValidationSummary"></div>
    <!-- This div is shown when we are waiting for a response from the rest service -->
    <div class="InProgress"><span></span><img src="img/ajax-loader.gif" /></div>
</form>